body {
    background: #555555;
    color: #555555;
}

.game-row {
    margin-bottom: 20px;
}

.cat {
    font-size:22px;
}

#cat-1 {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Square_-_black_simple.svg/440px-Square_-_black_simple.svg.png);
}

#cat-2 {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Square_-_black_simple.svg/440px-Square_-_black_simple.svg.png);
}

#cat-3 {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Square_-_black_simple.svg/440px-Square_-_black_simple.svg.png);
}

#cat-4 {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Square_-_black_simple.svg/440px-Square_-_black_simple.svg.png);
}