body {
    background: #555555;
    color: #555555;
}

.game-row {
    margin-bottom: 20px;
}

.cat {
    width: 100px;
    padding: 3px;
}

.fill {
    width: 100%;
    height: 100%;
}

#goal, #score {
    padding-top: 14%;
}

.jumbotron {
    margin: 20px 0;
}
